body{
    padding-top: 10rem;
    text-align: center;
    font-size: 30px;
    
    input{
        padding: 1rem;
        @media screen and(max-width:768px) {
            width: 100%;
        }
        box-sizing: border-box;
    }
}